{% extends 'base_generic.html' %}
{% load i18n %}

{% block content %}
    <div id="login-container" class="row">
        <div id="login-panel" class="cell-lg-6 offset-lg-3 cell-md-8 offset-md-1">
            {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button secondary" type="submit">{% trans 'Change password' %}</button>
                </form>
            {% else %}
                <p>{% trans 'The password reset link was invalid, possibly because it has already been used.' %}
                    {% trans 'Please request a new reset.' %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
