{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h1>{{ post }}</h1>
            <p>{% trans 'Posted by:' %} <a
                    href="{{ post.user.get_absolute_url }}">{{ post.user }}</a> {% trans 'on' %} {{ post.created }}</p>
            <div class="preload-button-wrapper">
                <div id="post-vote-wrapper" class="row vote-buttons">
                    <button id="post-dislike"
                            class="waves-effect waves-light btn dislike {% if post|user_voted_down:user %} disabled {% endif %}"
                            onclick="voteContent($('#post-dislike'), 'post', {{ post.id }}, 'dislike', $('#post-like'), $('#post-revoke'), $('#post-score'))">
                        <i class="material-icons left">thumb_down</i>{% trans 'Dislike' %}</button>
                    <button id="post-like"
                            class="waves-effect waves-light btn post-like {% if post|user_voted_up:user %} disabled {% endif %}"
                            onclick="voteContent($('#post-like'), 'post', {{ post.id }}, 'like', $('#post-dislike'), $('#post-revoke'), $('#post-score'))">
                        <i class="material-icons left">thumb_up</i>{% trans 'Like' %}</button>
                    <button id="post-revoke"
                            class="waves-effect waves-light btn revoke {% if not post|user_has_voted:user %} disabled {% endif %}"
                            onclick="voteContent($('#post-revoke'), 'post', {{ post.id }}, 'revoke', $('#post-like'), $('#post-dislike'), $('#post-score'))">
                        <i class="material-icons left">clear</i>{% trans 'Revoke Vote' %}</button>

                    <h4 id="post-score">{% trans 'Score' %}: {{ post.vote_score }}</h4>
                </div>
            </div>

            <p class="flow-text">{{ post.content|show_markdown|safe }}</p>
            <div class="card-action">
                <div class="shariff" data-button-style="icon"></div>
            </div>
        </div>
    </div>
    <p class="padding"></p>
    <div class="card">
        <div class="card-content">
            <h2>{% trans 'Comments' %}</h2>

            <ul class="collection">
                {% for comment in comments %}
                    <li class="collection-item avatar">
                        {% if comment.user.profile.image %}
                            <img src="{{ user.profile.image.url }}" class="circle"/>
                        {% else %}
                            <img src="{% static 'images/default_user.png' %}" class="circle"/>
                        {% endif %}
                        <span class="title">{{ comment.user }}</span>
                        <p>{{ comment.content }}</p>

                        <button id="comment-dislike-{{ comment.id }}"
                                class="waves-effect waves-light btn {% if comment|user_voted_down:user %} disabled {% endif %}"
                                onclick="voteContent($('#comment-dislike-{{ comment.id }}'), 'comment', {{ comment.id }}, 'dislike', $('#comment-like-{{ comment.id }}'), $('#comment-revoke-{{ comment.id }}'), $('#comment-score-{{ comment.id }}'))">
                            <i class="material-icons left">thumb_down</i>{% trans 'Dislike' %}</button>
                        <button id="comment-like-{{ comment.id }}"
                                class="waves-effect waves-light btn {% if comment|user_voted_up:user %} disabled {% endif %}"
                                onclick="voteContent($('#comment-like-{{ comment.id }}'), 'comment', {{ comment.id }}, 'like', $('#comment-dislike-{{ comment.id }}'), $('#comment-revoke-{{ comment.id }}'), $('#comment-score-{{ comment.id }}'))">
                            <i class="material-icons left">thumb_up</i>{% trans 'Like' %}</button>
                        <button id="comment-revoke-{{ comment.id }}"
                                class="waves-effect waves-light btn {% if not comment|user_has_voted:user %} disabled {% endif %}"
                                onclick="voteContent($('#comment-revoke-{{ comment.id }}'), 'comment', {{ comment.id }}, 'revoke', $('#comment-like-{{ comment.id }}'), $('#comment-dislike-{{ comment.id }}'), $('#comment-score-{{ comment.id }}'))">
                            <i class="material-icons left">clear</i>{% trans 'Revoke Vote' %}</button>

                        <h6 id="comment-score-{{ comment.id }}">{% trans 'Score' %}: {{ comment.vote_score }}</h6>
                    </li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
                <a href="{% url 'comment-add' pk=post.id %}"
                   class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">add</i></a>
            {% endif %}
        </div>
    </div>
    <script type="application/javascript">
        function voteContent(senderButton, content_type, content_id, action, otherButtonOne, otherButtonTwo, score) {

            $.ajax({
                url: '{% url "ajax-vote" %}',
                data: {
                    'action': action,
                    'content-type': content_type,
                    'content-id': content_id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        score.text("{% trans 'Score' %}" + ": " + data.score);
                        M.toast({html: data.message});
                    }
                }
            });

            senderButton.addClass('disabled');
            otherButtonOne.removeClass('disabled');
            otherButtonTwo.removeClass('disabled');
        }
    </script>
{% endblock %}
