{% extends "base_generic.html" %}

{% block content %}
    <h1>Posts</h1>

    {% if post_list %}
        <div class="row">
            {% for post in post_list %}
                <div class="card cell-lg-5 offset-lg-1 cell-sd-full">
                    <div class="card-header">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="card-content p-2">
                        <p>{{ post.content|truncatechars:240 }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="button secondary" href="{{ post.get_absolute_url }}">Read More</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <p>There are no posts available..</p>
    {% endif %}


{% endblock %}
