{% extends "base_generic.html" %}
{% load i18n %}
{% load utils %}

{% block content %}
    <h1>{% trans 'Posts' %}</h1>
    <a class="waves-effect waves-light btn" href="{% url 'posts' %}">{% trans 'No Tag' %}</a>
    {% if tags %}
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='tags'>Tags</a>
        <!-- Dropdown Structure -->
        <ul id='tags' class='dropdown-content'>
            <li><a href="{% url 'posts' %}">{% trans 'No Tag' %}</a></li>
            {% for tag in tags %}
                <li><a href="{% url 'posts' %}?tag={{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'No Tags available...' %}</p>
    {% endif %}

    {% if object_list %}
        <div class="row">
            {% for post in object_list %}
                <div class="col s6 m3">
                    <div class="card grey darken-2 hoverable">
                        <div class="card-content white-text">
                            <span class="card-title">{{ post.title }}</span>
                            <p>{{ post.content|truncatechars:240|show_markdown|safe }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ post.get_absolute_url }}">{% trans 'Read More' %}</a>
                        </div>
                        <div class="card-action scrollmenu">

                            <div class="col s12">

                                {% if post.tags.names %}
                                    {% for tag in post.tags.names %}
                                        <p class="chip">{{ tag }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="chip">{% trans 'No Tag' %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans 'There are no posts available...' %}</p>
    {% endif %}
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var tabs = document.querySelectorAll('.tabs');
            var dropdown = document.querySelectorAll('.dropdown-trigger');
            M.Tabs.init(tabs);
            M.Dropdown.init(dropdown);
        });
    </script>
{% endblock %}
