{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h1>{{ post }}</h1>
            <p>{% trans 'Posted by:' %} <a
                    href="{{ post.user.get_absolute_url }}">{{ post.user }}</a> {% trans 'on' %} {{ post.created }}</p>
            <div class="row">
                {% if request.user.is_authenticated %}
                    {% if post|user_voted_down:user %}
                        <a href="" class="btn disabled"><i
                                class="material-icons left">thumb_down</i>{% trans 'Dislike' %}</a>
                    {% else %}
                        <a href="{% url 'vote' %}?model_id={{ post.id }}&model_type=post&like=False"
                           class="waves-effect waves-light btn"><i
                                class="material-icons left">thumb_down</i>{% trans 'Dislike' %}</a>
                    {% endif %}

                    {% if post|user_voted_up:user %}
                        <a href="" class="btn disabled"><i
                                class="material-icons left">thumb_up</i>{% trans 'Like' %}</a>
                    {% else %}
                        <a href="{% url 'vote' %}?model_id={{ post.id }}&model_type=post&like=True"
                           class="waves-effect waves-light btn"><i
                                class="material-icons left">thumb_up</i>{% trans 'Like' %}</a>
                    {% endif %}

                    {% if post|user_has_voted:user %}
                        <a href="{% url 'vote' %}?model_id={{ post.id }}&model_type=post&like=Revoke"
                           class="waves-effect waves-light btn"><i
                                class="material-icons left">clear</i>{% trans 'Revoke Vote' %}</a>
                    {% else %}
                        <a href="" class="disabled btn"><i
                                class="material-icons left">clear</i>{% trans 'Revoke Vote' %}</a>
                    {% endif %}

                {% endif %}
                <h4>{% trans 'Score' %}: {{ post.vote_score }}</h4>
            </div>

            <p class="flow-text">{{ post.content }}</p>
            <div class="card-action">
                <div class="shariff" data-button-style="icon"></div>
            </div>
        </div>
    </div>
    <p class="padding"></p>
    <div class="card">
        <div class="card-content">
            <h2>{% trans 'Comments' %}</h2>

            <ul class="collection">
                {% for comment in comments %}
                    <li class="collection-item avatar">
                        {% if comment.user.profile.image %}
                            <img src="{{ user.profile.image.url }}" class="circle"/>
                        {% else %}
                            <img src="{% static 'images/default_user.png' %}" class="circle"/>
                        {% endif %}
                        <span class="title">{{ comment.user }}</span>
                        <p>{{ comment.content }}</p>
                        {% if request.user.is_authenticated %}
                            {% if comment|user_voted_down:user %}
                                <a href="" class="disabled btn"><i
                                        class="material-icons left">thumb_down</i>{% trans 'Dislike' %}</a>
                            {% else %}
                                <a href="{% url 'vote' %}?model_id={{ comment.id }}&model_type=comment&like=False"
                                   class="waves-effect waves-light btn"><i
                                        class="material-icons left">thumb_down</i>{% trans 'Dislike' %}</a>
                            {% endif %}

                            {% if comment|user_voted_up:user %}
                                <a href="" class="disabled btn"><i
                                        class="material-icons left">thumb_up</i>{% trans 'Like' %}</a>
                            {% else %}
                                <a href="{% url 'vote' %}?model_id={{ comment.id }}&model_type=comment&like=True"
                                   class="waves-effect waves-light btn"><i
                                        class="material-icons left">thumb_up</i>{% trans 'Like' %}</a>
                            {% endif %}

                            {% if comment|user_has_voted:user %}
                                <a href="{% url 'vote' %}?model_id={{ comment.id }}&model_type=comment&like=Revoke"
                                   class="waves-effect waves-light btn"><i
                                        class="material-icons left">clear</i>{% trans 'Revoke Vote' %}</a>
                            {% else %}
                                <a href="" class="disabled btn"><i
                                        class="material-icons left">clear</i>{% trans 'Revoke Vote' %}</a>
                            {% endif %}
                        {% endif %}
                        <h6>{% trans 'Score' %}: {{ comment.vote_score }}</h6>
                    </li>
                {% endfor %}
            </ul>
        {% if request.user.is_authenticated %}
            <a href="{% url 'comment-add' pk=post.id %}" class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">add</i></a>
        {% endif %}
        </div>
    </div>
{% endblock %}
