{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="cell-md-4 cell-sd-full">
            <div class="img-container profile-picture">
                {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" style="border-radius: 50%"/>
                {% endif %}
            </div>
            <h1>{% trans 'Username' %}: {{ user }}</h1>
        </div>
        <div class="cell-md-8 cell-sd-full">
            <p><strong>{% trans 'Name' %}:</strong> {{ user.first_name }}</p>
            <p><strong>{% trans 'Lastname' %}:</strong> {{ user.last_name }}</p>
            <p><strong>{% trans 'Bio' %}:</strong></p>
            <p>{{ user.profile.bio }}</p>
        </div>
    </div>
    <p class="padding"></p>
    <div class="row">
        <div class="cell-md-4 cell-sd-full">

            <h2>{% trans 'Blog posts' %}</h2>
            {% for post in posts %}
                <div data-role="panel">
                    <a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
                    <p><strong>{% trans 'Created' %}:</strong> {{ post.created }}</p>
                </div>
                <p class="short-padding"></p>
            {% endfor %}
        </div>
        <div class="cell-md-4 cell-sd-full">
            <h2>{% trans 'Comments' %}</h2>
            {% for comment in comments %}
                <div data-role="panel">
                    <a href="{{ comment.post.get_absolute_url }}"><h3>{{ comment.content }}</h3></a>
                    <p><strong>{% trans 'Created' %}:</strong> {{ comment.created }}</p>
                </div>
                <p class="short-padding"></p>
            {% endfor %}
        </div>
        <div class="cell-md-4 cell-sd-full">
            <h2>{% trans 'Liked Posts' %}</h2>
            {% for post in liked_posts %}
                <div data-role="panel">
                    <a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
                    <p><strong>{% trans 'Created' %}:</strong> {{ post.created }}</p>
                </div>
                <p class="short-padding"></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
