.base-content {
    margin: 3em;
}

body, html {
    height: 100%;
}

.bg {
    height: 100%;
    background-size: cover;
    background: url("https://static.pexels.com/photos/579353/pexels-photo-579353.jpeg") no-repeat fixed center;
}

.card {
    background: white;
}

a>button {
    position: relative;
}

.card-content {
    margin-bottom: 5em;
}

.card-footer {
    left: 0;
    bottom: 0;
    position: absolute;
}

.page-links {
    padding-top: 3em;
    margin: 0 auto;
}

.spacing {

}

.padding {
    padding-bottom: 2em;
}

.short-padding {
    padding-bottom: 0.5em;
}

.large-padding {
    padding-bottom: 3em;
}

.nav-bar {
    z-index: 1000;
}

#login-container {
    padding-top: 10em;
}

.error-color {
    color: red;
}

.place-middle-inner {
    margin: 0 auto;
    display: table;
}

.place-middle-outer {
    width: 100%;
}

.display-only-low {
    display: none;
}

#login-tile-container {
    position: relative;
}

.place-bottom-absolute {
    position: absolute;
    bottom: 0;
}

.point-tile {
    width: 36px;
    height: 36px;
}

.profile-picture {
    width: 20em;
    height: 20em;
}

.parallax-container {
    height: 15em;
}

.card-content {
    margin-bottom: 0;
}

.tabs-content {
    margin: 2em;
}

/*change tab colors*/
.tabs .tab a{
    color:#ffffff;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#ffffff;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);
}
.tabs .indicator {
	background-color:#ffffff;
}

.tabs {
    background-color: #616161;
}

/*change select colors*/
ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #000000;
}

.select-dropdown {
    color: white;!important;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.user-card {
    background-size: cover;
    width: 7em;
    height: 15em;
    background-position-x: -8em;
}

@media only screen and (max-width: 991px) {
    .display-only-low {
        display: table;
    }

    #login-tile-container {
        height: 310px;
    }
}

@media only screen and (min-width: 768px) {
    .nav-bar-place-right {
        margin: 0 0 0 auto;
    }
}
